notebook
mendeleev==0.7.0
## As 'pip install mendeleev[vis]' does not seem to work, install manually the requirements specified in https://github.com/lmmentel/mendeleev/blob/master/pyproject.toml
bokeh>=2.3.0,<3.0.0
jupyter-bokeh>=3.0.2,<4.0.0
plotly>=5.0,<6.0
seaborn>=0.11.1,<1.0.0
pandas<2
